/* Styles pour les champs à l'intérieur des inputs en tant que p */
input[type="text"],
input[type="email"],
input[type="password"],
textarea[type="message"],
select {
margin-top: 7px;
border-radius: 20px;
background-color: var(--color-gris);
padding: 10px;
border: none;
color: var(--color-white);
width: 100%;
}

/* Exclure le bouton de soumission */
input[type="submit"] {
    border-radius: 1.25rem ;
    border-color: transparent ;
    background: var(--color-orange);
    text-align: center;
    padding: 0.4375rem 1.6875rem;
    color: var(--color-white);
    float: right;

}

.custom-login-form {
    margin-bottom: 5rem;
}

.custom-registration-form {
    margin-bottom: 5rem;
    color: var(--color-white)
}

.textarea {
margin-top: 7px;
border-radius: 20px;
height: 200px;
background-color: var(--color-gris);
padding: 10px;
border: none;
color: var(--color-white);
width: 100%;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.check {
    color: var(--color-white);
}

figure {
  margin: 0 auto;
  display: flex;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.author-box {
  display: flex;
  justify-content: flex-start; /* Aligne les éléments au début du bloc */
  align-items: center;
  padding-left: 10px; /* Espace à l'intérieur de chaque élément de la liste */
  margin-bottom: 10px; /* Espace entre les éléments de la liste */
  margin-left: 0;
  background-color: #4e5c65;
  color: white; /* Fond gris pour chaque élément de la liste */
  list-style: none;
  border-radius: 10px;
}

.avatar img {
  border-radius: 100%;
  width: 50px; /* Largeur fixe pour l'avatar */
  height: 50px; /* Hauteur fixe pour l'avatar */
  object-fit: cover; /* L'image couvrira tout le bloc */
  margin-right: 10px;
  transform: scale(0.8); /* Ajoute un espace à droite de l'avatar */
}

.texte-equipe {
  flex-grow: 1; /* Le texte prendra tout l'espace restant */
}