.hero {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.hero::after {
    content: '';
    position: absolute;
    left: 5%;
    top:70%;
    bottom: -20px; /* Ajustez cette valeur pour décaler verticalement */
    width: 100%; /* Ajustez la largeur du rectangle */
    height: 20px; /* Ajustez la hauteur du rectangle */
    background-color: var(--color-orange); /* Couleur du rectangle */
    z-index: -1; /* Assurez-vous que le rectangle est derrière le texte */
}