:root {
    /* Couleurs */
    --color-blue: #034DA4;  /* Bleu foncé */
    --color-gris: #989592; /* Bleu clair */
    --color-white: #FFFFFF; /* Blanc */
    --color-orange: #FC6933;  
    --color-black: #000000; /* Noir */   

    /* Espacement courant sur le web */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 48px;
}
