/* Transforme le modèle de boite par défaut pour inclure dans la largeur et la hauteur, les marges intérieures et les bordures. */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  background-color: var(--color-blue);
  margin : 0 20px;
}

main {
  margin-top: 120px; 
}
/* Les règles typographiques générales qui s'appliquent à tout le site */

/* Les règles typographiques générales des titres */
h2{
  color: var(--color-white);
  font-family: Karantina;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin:0;
}

h4{
font-family: Kanit;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
color: var(--color-white);
}


h3{
  color: var(--color-white);
  font-family: Karantina;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  width: 100%;
}

.slogan {
  color: var(--color-white);
  font-family: Kanit;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

h1{
  color: var(--color-white);
  font-family: 'Karantina', sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

}

.Button {
  color: var(--color-white);
  font-family: Kanit;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* permet d'annuler la mise en forme des bouton qu'applique le navigateur. */
.container {
  position: relative;
  margin-top: 150px;
  left: 45px;
  margin-right: 200px;
}

.typo-card {
color: var(--color-black);
text-align: center;
font-family: Kanit;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
}

body {
font-family: Kanit;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
}